.reviewpage .ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1.1);
}

.reviewpage .ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: black;
}
