@media (max-width: 600px) {
  .main-middle h4 {
    font-size: 20px;
  }
  .main-btn button {
    padding: 6px;
    font-size: 8px;
  }
  .main-container {
    flex-direction: column;
  }
}
.main-sub-left {
  gap: 15px;
}
.proceed-parent {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
